.header {
  position: fixed;
  top: -1px;
  right: 0;
  left: 0;
  z-index: 4;
  backdrop-filter: saturate(120%) blur(20px);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 25%;
}

.logo {
  display: block;
  height: 1em;
  margin-bottom: 20px;
}
.logo img {
  width: 39px;
  height: 38px;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  list-style: none;
}

.link {
  margin-left: 70px;
  opacity: 0.6;
}
.link:hover,
.link:focus,
.link:active {
  opacity: 1;
  box-shadow: 0 2px 0 #0070f3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.input {
  width: 0;
  height: 0;
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 200ms ease-out;
  content: "";
}

.input:checked + .slider {
  background-color: #2196f3;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.input:checked + .slider:before {
  transform: translateX(26px);
}

.iconDark {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}

.iconLight {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  right: 6px;
}

.container {
  min-height: 100vh;
  margin-top: 50px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideImage {
  width: 25%;
  position: relative;
  margin-top: -200px;
  margin-left: -100%;
}

.popupImage {
  width: 30%;
  position: relative;
  margin-top: -200px;
  left: 30%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a,
.title span {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.heroImage {
  width: 50%;
  margin-bottom: 100px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-bottom: 5rem;
}

.section div {
  height: 300px;
}

.sectionTitle {
  font-size: calc(30px + 2vw);
  font-weight: 700;
  display: block;
  padding-top: 100px;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    flex-direction: column;
  }
}

.blueButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;

  cursor: pointer;
  height: 15%;
  width: 60%;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}
.projectImage {
  width: 100%;
  height: 85%;
  object-fit: contain;
}
.imageContainer {
  display: flex;
  flex-direction: column;
}
